@media (min-width:736px) {

    .div__wrapper{
        display: flex;
        flex-wrap: wrap;
    }

    .aside__aside{
        margin-left: 250px;
    }
    .container__aside{
        width: 45%;
    }

    .container__cards{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;

    }

    .input_textArea-container{
        width: 40%;
        position: relative;
        left: 80px;
    }

    .container__users{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .container__post{
        margin-left: 100px;
        width: 50%;
    }


    .modal_post{
        width: 600px;
        height: max-content;
    
    }

    .container__individual{
        width: 500px;
        height: max-content;
    }

    .container__identificador{
        position: relative;
        left: 100px;
        width: 30%;

    }

    .post__description{
        width: 600px;
        height: 252px;

    }

    .container__identificador-post{
        margin-top: 20px;
    }
}