@media (min-width:736px) {

    .main{
        padding: 147px 100px;
       
    }
    
    .div__wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .container__aside{
        width: 400px;
    }

    .container__cards{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;

    }

    .input_textArea-container{
        width: 100%;
        margin-top: 26px;
    }

    .container__users{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .container__post{
        width: 50%;
    }


    .modal_post{
        width: 600px;
        height: max-content;
    
    }

    .aside__aside{
        max-width: 100%;
    }

    .form__wrapper{
        width: 50%;
    }
}